name: Lint

on:
  pull_request:
    branches: [main]
  push:
    branches: [main]
  workflow_dispatch:

jobs:
  lint:
    runs-on: ubuntu-latest
    
    steps:
    - uses: actions/checkout@v3
    
    - name: Setup PHP
      uses: shivammathur/setup-php@v2
      with:
        php-version: '8.2'
        extensions: xml, xmlwriter
        
    - name: Install dependencies
      run: composer install --prefer-dist --no-progress
      
    - name: Run PHP Lint
      run: find . -type f -name '*.php' -not -path './vendor/*' -exec php -l {} \;
      
    - name: Run PHP Code Sniffer
      run: ./vendor/bin/phpcs --extensions=php ./lib/
      
    - name: Run PHP Mess Detector
      run: ./vendor/bin/phpmd ./lib ansi codesize,unusedcode,naming
